<div class="container">
    <mat-card class="registercard" fxFlex=40>
        <mat-card-header>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <div fxFlex=50 fxFill>
                    <mat-card-title>Registration</mat-card-title>
                </div>
                <div fxFlex=50 fxFill>
                    <mat-card-subtitle>Please fill all the filds</mat-card-subtitle>
                </div>
            </div>
        </mat-card-header>


    </mat-card>
</div>