<div class="container">
    <mat-card class="registercard" fxFlex=40>
        <div fxLayout="column" fxLayoutAlign="space-between center" class="cardcontaint">
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <div fxFlex=50 fxFill>
                    <mat-card-title>Registration</mat-card-title>
                </div>
                <div fxFlex=50 fxFill>
                    <mat-card-subtitle>Please fill all the filds</mat-card-subtitle>
                </div>
            </div>

            <mat-card-content>
                <form [formGroup]="registerForm">
                    <div fxLayout="column" fxLayoutAlign="space-between center" class="cardcontaint">

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Enter your name" formControlName="name">
                                <mat-icon matSuffix><img src="../../../assets/baseline-account_circle-24px.svg">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="input-style">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Enter your email" formControlName="email"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="input-style">
                                <mat-label>Mobile</mat-label>
                                <input type="email" matInput placeholder="Enter your mobile number"
                                    formControlName="mobile" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                <mat-icon matSuffix><img src="../../../assets/baseline-phone_android-24px.svg">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="input-style">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Enter your password"
                                    [type]="!hide ? 'password' : 'text'" formControlName="password" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>
</div>