@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
    display: flex;
    justify-content: center;
}

.registercard{
    display: flex;
    background-color: darkgrey;
    justify-content: center;
}